$zioui-text-weak: var(--zioui-text-weak, #575d6c);
$zioui-font-size: var(--zioui-font-size, 12px);
$zioui-list-item-selected-bg: var(--zioui-list-item-selected-bg, #e9edfa);
$zioui-list-item-hover-bg: var(--zioui-list-item-hover-bg, #f2f5fc);
$zioui-border-radius: var(--zioui-border-radius, 2px);
$zioui-animation-duration-fast: var(--zioui-animation-duration-fast, 100ms);
$zioui-animation-ease-in-smooth: var(
  --zioui-animation-ease-in-smooth,
  cubic-bezier(0.645, 0.045, 0.355, 1)
);
$zioui-disabled-text: var(--zioui-disabled-text, #adb0b8);

.zioui-text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.zioui-tree-node {
  color: $zioui-text-weak;
  line-height: 1.5;
  white-space: nowrap;
  position: relative;

  .zioui-tree-node__content {
    display: inline-flex;
    align-items: center;
    font-size: $zioui-font-size;
    padding-right: 10px;
    width: 100%;
    border-radius: $zioui-border-radius;
    padding-left: 6px;
    transition: color $zioui-animation-duration-fast
        $zioui-animation-ease-in-smooth,
      background-color $zioui-animation-duration-fast
        $zioui-animation-ease-in-smooth;

    &.active {
      background-color: $zioui-list-item-selected-bg;
      text-decoration: none;
      border-color: transparent;
    }

    &:not(.active):hover {
      background-color: $zioui-list-item-hover-bg;
    }
  }

  .zioui-tree-node__content--value-wrapper {
    display: inline-flex;
    align-items: center;
    height: 30px;
    width: 100%;

    .toggle-disabled {
      cursor: not-allowed;

      svg rect {
        stroke: $zioui-disabled-text;
      }

      svg path {
        fill: $zioui-disabled-text;
      }
    }
    .select-disabled {
      color: $zioui-disabled-text !important;
      cursor: not-allowed !important;
      background-color: transparent !important;
    }
  }

  .zioui-tree-node__title {
    @extend .zioui-text-ellipsis;

    margin-left: 5px;
    display: inline-block;
    border: 1px dashed transparent;
    border-radius: $zioui-border-radius;
    max-width: 100%;

    &:not(.disabled) {
      cursor: pointer;
    }
  }
}
